.intro {
  padding-bottom: 136px;
  background-color: $grey-bg;

  &__wrap {
    padding-top: 230px;
    background-image: $primary-bg;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      position: relative;
    }
 }

  &__logo {
    border-radius: 25px;
    box-shadow: 0px 6px 12px rgba(32, 33, 39, 0.08);
    display: inline-block;
  }

  &__content {
    max-width: 555px;
    padding-bottom: 180px;
  }

  &__title {
    margin-top: 34px;
    // font-size: 35px;
    // line-height: 50px;
    color: white;
    letter-spacing: 0.8px;

    // span {
    //   font-family: $extraBoldFont;
    // }
  }

  &__action {
    margin-top: 37px;
    display: flex;

    & > * {

      &:nth-child(n+2) {
        margin-left: 20px;
      }
    }
  }

  &__tablet {
    position: absolute;
    bottom: -136px;
    right: 44px;
  }

  @media screen and (max-width: 1199px) {
    padding-bottom: 0;

    &__wrap {
      padding-top: 150px;
    }

    .container {
      text-align: center;
    }

    &__content {
      display: inline-block;  
      padding-bottom: 50px;    
    }

    &__action {
      justify-content: center;
    }

    &__tablet {
      position: relative;
      right: auto;
      bottom: auto;
    }
  }

  @media screen and (max-width: 419px) {

    &__action {
      flex-direction: column;

      & > * {
        width: 100%;

        &:nth-child(n+2) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
  
}