.plans {
  background-color: $grey-bg;

  &__wrap {
    padding: 111px 0 120px;
    display: flex;
    align-items: center;
  }

  &__description {
    color: $secondaryFontColor;
    flex-basis: 370px;
    max-width: 370px;
  }

  &__title {
    
  }

  &__content {
    margin-top: 16px;
  }

  &__number {
    margin-top: 15px;
  }

  &__promo {
    display: flex;
    align-items: flex-end;
    margin-top: 18px;
    
    .input {
      width: 208px;
    }

    .button {
      margin-left: 15px;
      min-width: 130px;
    }
  }

  &__list {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1199px) {

    &__wrap {
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
    }

    &__list {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 797px) {

    &__list {
      flex-direction: column;

      .plan-block {
        margin-right: 0;
      }
    }
  }

  @media screen and (max-width: 419px) {

    &__description {
      flex-basis: auto;
    }

    &__title {
      text-align: center;
    }

    &__number {

      .input_select {
        flex-direction: column;
      } 
    }

    &__promo {
      flex-direction: column;

      .input {
        width: 100%;
      }

      .button {
        margin-top: 20px;
        width: 100%;
      }
    }

    &__list {
      margin-top: 40px;

      .plan-block {
        width: auto;
      }
    }
  }
}