/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Nunito Sans', sans-serif;
$extraBoldFont           : 'Nunito Sans ExtraBold', sans-serif;


$mainFontColor           : #282B31;
$secondaryFontColor      : #676C75;
$markerColor             : #999EA8;
$borderColor             : #E7E8EA;
$arrow-color             : #b9bdc3;
$timerTitleColor         : #5586F2;

// Size
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 30px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;





// Background Color
$primary-bg              : url(/assets/img/primary-bg.png);
$grey-bg                 : #f8f9fa;
$secondary-bg            : #ffffff;
