.header
  .container.header__wrap
    .header__logo AppStarter
    .header__nav 
      ul.nav
        li.nav__item Features
        li.nav__item Video Tour
        li.nav__item Reviews
        li.nav__item Pricing
      .button.button_small GET IT FREE